/* request-status.component.css */

.request-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.request-table th,
.request-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.request-table th {
  background-color: #229c80;
  text-align: left;
  text-align: center;
  border: 1px solid #ddd;
  color: #f2f2f2;
}

.request-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.request-table tbody tr:hover {
  background-color: #ddd;
}




