/* login.component.css */

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94vh;
  overflow: hidden;
  background-color: white;
}
.inner-container {
  background-color: #f5f5f4;
  width: 310px;
  
  margin: 0 auto; /* This will center the container horizontally */
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  box-shadow: 0 0 10px 2px #19725d;
}
.login-container h2 {
  text-align: center;
  color: #19725d;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-group label {
  display: block;
  text-align: left;
  padding-left: 5px;
  margin-bottom: 5px;
  color: black;
  font-size: 17px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 2px solid #19725d;
  border-radius: 10px;
}

.fbutton {
  border-radius: 20px;
  color: #fef1c7;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 55px;
  margin-bottom: 10px;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #009688;
  perspective: 1000px;
  box-shadow: 1px 2px 0px 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.012);
  transition: transform 80ms ease-in, background-color 0.21s ease;
  background-color: #009688;
}


.fbutton[type="submit"]:hover {
  /* perspective: -1000px; */
  transform: scale(1);
  background-color: #00897b;
  box-shadow: none;
}

.secQuestion {
  width: -webkit-fill-available;
  overflow: scroll;
  border: 2px solid #19725d;
  border-radius: 6px;
}
.showPassword {
  position: absolute;
  top: 35px;
  right: 5px;
  font-size: small;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.error-class {
  /* border: 2px solid #19725d !important; */
  animation: shake 0.5s ease-in-out; /* Apply animation */
}