<div class="login-container">
  <div
    class="inner-container"
    [ngClass]="{ 'error-class': fieldsEmpty !== '' }"
  >
    <h2>Forgot Password</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="username">Email-Id</label>
        <input
          type="email"
          id="username"
          name="username"
          [(ngModel)]="username"
          autocomplete="off"
        />
      </div>
      <div class="form-group">
        <label for="Security-question">Choose a Security Question</label>
        <select
          class="secQuestion"
          id="Security-question"
          name="Security-question"
          [(ngModel)]="secquestion"
        >
          <option value="">Select a security question</option>
          <option *ngFor="let question of securityQuestions" [value]="question">
            {{ question }}
          </option>
        </select>
      </div>
      <div class="form-group" *ngIf="secquestion !== ''">
        <label for="answer">Email-Id</label>
        <input
          type="text"
          id="answer"
          name="answer"
          [(ngModel)]="answer"
          autocomplete="off"
        />
      </div>
    </form>
  </div>
</div>