.container {
    padding-top: 40px;
  }
  
  .inner-container {
    background-color: #f5f5f4;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px 4px #19725D;
  }
  
  .inner-container h3 {
    text-align: center;
    color: #19725D;
    margin-left: 0px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #19725D;
  }
  
  th,
  td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #19725D;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #fbf1f1;
  }
  
  tr:nth-child(odd) {
    background-color: #ccc;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  